[submodule "mods/building/abriglass"]
	path = mods/building/abriglass
	url = https://github.com/panqkart/abriglass
[submodule "mods/building/abripanes"]
	path = mods/building/abripanes
	url = https://github.com/panqkart/abripanes
[submodule "mods/building/maptools"]
	path = mods/building/maptools
	url = https://github.com/minetest-mods/maptools
[submodule "mods/building/Minetest-WorldEdit"]
	path = mods/building/Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mods/building/moreblocks"]
	path = mods/building/moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "mods/building/streets"]
	path = mods/building/streets
	url = https://github.com/minetest-mods/streets
[submodule "mods/mtg/creative"]
	path = mods/mtg/creative
	url = https://github.com/minetest-game/creative
[submodule "mods/mtg/doors"]
	path = mods/mtg/doors
	url = https://github.com/minetest-game/doors
[submodule "mods/mtg/dye"]
	path = mods/mtg/dye
	url = https://github.com/minetest-game/dye
[submodule "mods/mtg/env_sounds"]
	path = mods/mtg/env_sounds
	url = https://github.com/minetest-game/env_sounds
[submodule "mods/mtg/farming"]
	path = mods/mtg/farming
	url = https://github.com/minetest-game/farming
[submodule "mods/mtg/fire"]
	path = mods/mtg/fire
	url = https://github.com/minetest-game/fire
[submodule "mods/mtg/flowers"]
	path = mods/mtg/flowers
	url = https://github.com/minetest-game/flowers
[submodule "mods/mtg/screwdriver"]
	path = mods/mtg/screwdriver
	url = https://github.com/minetest-game/screwdriver
[submodule "mods/mtg/sfinv"]
	path = mods/mtg/sfinv
	url = https://github.com/minetest-game/sfinv
[submodule "mods/mtg/stairs"]
	path = mods/mtg/stairs
	url = https://github.com/minetest-game/stairs
[submodule "mods/mtg/vessels"]
	path = mods/mtg/vessels
	url = https://github.com/minetest-game/vessels
[submodule "mods/mtg/wool"]
	path = mods/mtg/wool
	url = https://github.com/minetest-game/wool
[submodule "mods/mtg/xpanes"]
	path = mods/mtg/xpanes
	url = https://github.com/minetest-game/xpanes
[submodule "mods/other/minetest-formspec_ast"]
	path = mods/other/minetest-formspec_ast
	url = https://github.com/luk3yx/minetest-formspec_ast
[submodule "mods/other/minetest-hud_fs"]
	path = mods/other/minetest-hud_fs
	url = https://github.com/luk3yx/minetest-hud_fs
[submodule "mods/mtg/beds"]
	path = mods/mtg/beds
	url = https://github.com/minetest-game/beds
[submodule "mods/other/modgen"]
	path = mods/other/modgen
	url = https://github.com/BuckarooBanzay/modgen
